

.footer-section-content {
    
    background-color: #2F686C !important;
}

.footer-section-content a {
    
    color: yellow !important;
}

.footer-section-meta a:not(.btn) {
    color: #2F686C !important;
}

.footer-link-color-hover {
    color: #2F686C !important;
}


.footer-section-meta {
    background-color: white !important;
}

.fa-map-marker-alt {
    margin-right: 5px;
}

.fa-phone-alt {
    margin-right: 5px;
}

.fa-envelope {
    margin-right: 5px;
}

.footer-section-meta {
    background-color: #2F686C !important;
}

#page-header {
    background-color: #2F686C !important;
}

#page-header .nav-link {
    color: white !important;
}

#page-header .nav-link:hover {
    color: white !important;
    text-decoration: underline !important;
}

#page-header > div > button {
    color: white !important;
}

